<template>
        <Carousel :value="event.images" :numVisible="1"  :responsiveOptions="responsiveOptions">
        <template #header>
          <h2>Basic</h2>
        </template>
        <template #item="slotProps">
          <div class="car-item">
                  <div class="car-content">
                      {{event.images}}
                      <div :v-for="(img, i) in event.images" :key="i">
                          <img :src="img.url" :alt="i" />
                      </div>
                      <!-- <div>
                          <div class="car-title">{{slotProps.data.brand}}</div>
                          <div class="car-subtitle">{{slotProps.data.year}} | {{slotProps.data.color}}</div>

                          <div class="car-buttons">
                              <Button icon="pi pi-search" class="p-button-secondary" />
                              <Button icon="pi pi-star-fill" class="p-button-secondary" />
                              <Button icon="pi pi-cog" class="p-button-secondary" />
                          </div>
                      </div> -->
                  </div>
              </div>
        </template>
      </Carousel>
</template>

<script>
export default {

}
</script>

<style>

</style>