<template>
  <div class="container confirmation_container">
      <table class="table table-stripped">
         <tr>
            <td class="title_confirmation">
                Cancellation Date
            </td>
            <td class="confirmation">
                {{confirmation.cancelation_time}}
            </td>
        </tr>
         <tr>
            <td class="title_confirmation">
                Verification code
            </td>
            <td class="confirmation">
                {{confirmation.verification_code}}
            </td>
        </tr>
         <tr>
            <td class="title_confirmation">
                Booking Number
            </td>
            <td class="confirmation">
                {{confirmation.booking_number}}
            </td>
        </tr>
      </table>
  </div>
</template>

<script>
export default {
    name:'RefundConfirmationBody',
    props:{
        confirmation: {
            type:Object
        }
    },
}
</script>

<style scoped>
.confirmation_container{
    margin-left: 24%;
}
.title_confirmation{
    text-align: left;
}
.confirmation{
    text-align: left;
}
@media screen and (max-width:700px) {
   .confirmation_container{
    margin-left: 0%;
}
}
</style>
